{{ define "body" }}
<section
  class="hero has-background-primary-15 is-halfheight has-text-centered"
  style="background-image: url('/actualites/{{.Params.picture}}.jpeg'); background-size: cover; background-position: center;"
>
  <div class="hero-body">
    <div class="container has-text-centered"></div>
  </div>
</section>

<section class="section has-text-centered is-max-desktop">
  <div class="container is-max-desktop">
    <p class="title has-text-primary-15">{{ .Title }}</p>
  </div>
  <div class="container has-text-centered">
    {{.Params.auteur}}, {{.Params.publishingDate}}
  </div>
</section>

<section class="section is-max-desktop has-text-left">
  <div class="container is-max-desktop">
    <div class="content">{{ .Content }}</div>
  </div>
</section>
{{ end }}
