{{ define "body" }}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script type="text/javascript">
  (function () {
    // https://dashboard.emailjs.com/admin/account
    emailjs.init({
      publicKey: "1ZfMf51GzPNDLTHnF",
    });
  })();
</script>
<script type="text/javascript">
  window.onload = function () {
    document
      .getElementById("contact-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        // these IDs from the previous steps
        emailjs.sendForm("contact_service", "contact_form", this).then(
          () => {
            console.log("SUCCESS!");
          },
          (error) => {
            console.log("FAILED...", error);
          }
        );
      });
  };
</script>

<section class="hero has-background-primary-15 is-halfheight has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-primary-15-invert" style="margin-bottom: 1rem">
        {{ .Title }}
      </p>
      <p class="subtitle has-text-primary-15-invert" style="margin-top: 1rem">
        {{ .Params.subtitle}}
      </p>
    </div>
  </div>
</section>

<section class="section" style="padding-top: 3rem; padding-bottom: 3rem">
  <div class="container is-max-desktop">{{ .Content }}</div>
</section>

<section class="section" style="padding-top: 3rem; padding-bottom: 3rem">
  <div class="container">
    <section class="section" style="padding-top: 2rem; padding-bottom: 2rem">
      <div class="container">
        <div
          class="container has-text-centered is-normal"
          style="margin-bottom: 2rem"
        >
          <h2 class="title" style="margin-bottom: 1rem">Nous sommes à votre écoute
          </h2>
          <p class="content is-normal" style="margin-bottom: 1rem"></p>
          <p class="content is-normal" style="margin-bottom: 1rem">
            <p>N'hésitez pas à
            nous contacter, nous serions ravis de faire votre rencontre !</p>
          </p>
          <p>
            Vous pouvez nous contactez à l'adresse
            <a href="mailto:info@fullyentransition.ch"
              >info@fullyentransition.ch.</a
            >
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
{{ end }}
