{{ define "body" }}
<section class="hero has-background-primary-15 is-halfheight has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-primary-15-invert" style="margin-bottom: 1rem">
        {{ .Title }}
      </p>
      <p class="subtitle has-text-primary-15-invert" style="margin-top: 1rem">
        {{ .Params.subtitle}}
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop has-text-centered content">
    {{.Content}}
  </div>
  <div class="container is-max-desktop has-text-centered">
    <figure class="image is-inline-block" style="max-width: 400px; width: 100%">
      <img
        src="{{.Params.picture}}"
        alt="Placeholder image"
        style="width: 100%; height: auto"
      />
    </figure>
  </div>
</section>

{{ end }}
